# Auto detect text files and perform LF normalization
* linguist-vendored

*.java linguist-vendored=true
# *.js linguist-vendored=true
# *.html linguist-vendored=true
# *.css linguist-vendored=true
# *.sql linguist-vendored=true

