# Auto detect text files and perform LF normalization
* linguist-vendored
*.js linguist-vendored=true
*.java linguist-vendored=true
*.html linguist-vendored=true
*.css linguist-vendored=true
*.sql linguist-vendored=true

